@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;

  background-image: url('../public/waterbg1.png');
  background-size: cover;
}

/* Main Wrapper*/
.wrapper{
  display: grid;
  gap: 1rem;
}

/* Section 1 Pricing Grid */
.grid-panel-neo{

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(245px, 1fr));

  gap: 1rem;
  grid-auto-flow: dense;

  padding: 1rem;

  background: rgba(52, 174, 237, 0.28);
  box-sizing: border-box;
  border-radius: 10px;

  grid-template-rows: 200px 200px;
  width: 100%;
}

.price-dashboard{
  padding: 2rem;
}

/* Section 2 */
